.header-form {
  width: 100%;
  padding: 20px 15px 15px;
  color: var(--color-theme);
  background: var(--bg-theme);
  border-radius: 0 0 15px 15px;
}

/* Nav Menu */
.nav-menu ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  color: #000;
}

.nav-menu li:not(li:last-of-type) {
  margin-right: auto;
}

.nav-menu li a {
  display: inline-block;
  height: 27px;
  padding: 4px;
  margin: 10px 0;
  color: inherit;
  font-size: var(--fz-small-s);
  font-weight: 600;
  opacity: 0.5;
  cursor: pointer;
  text-decoration: inherit;
  transition: all 0.25s ease-in;
}
.nav-menu li a:hover {
  color: var(--bg-theme);
  transform: translateY(-3px);
}
.nav-menu li a.active {
  opacity: 1;
  border-bottom: 3px solid var(--bg-theme);
}
