@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  /* Cel */
  --fz-title-s: 2rem;
  --fz-subtitle-s: 1.5rem;
  --fz-body-s: 1.3em;
  --fz-details-s: 1rem;
  --fz-small-s: 0.9rem;

  /* Monitor */
  --fz-title-l: 2.7rem;
  --fz-subtitle-l: 1.7rem;
  --fz-body-l: 1.5em;
  --fz-details-l: 1.3rem;
  --fz-small-l: 1.15rem;

  /* Colors */
  --color-theme: #fff;

  --bg-theme: #f98487;
  --bg-theme-shadow: #f8a9ad;

  --bg-fire: #f78183; /*#F08030*/
  --bg-water: #7abdf7;
  --bg-electric: #ffc000; /*#F8D030*/
  --bg-grass: #59d0b9; /*#78C850*/

  --bg-bug: #a8b820;
  --bg-dark: #705848;
  --bg-dragon: #7038f8;
  --bg-fairy: #ee99ac;
  --bg-fighting: #c03028;
  --bg-flying: #a890f0;
  --bg-ghost: #705898;
  --bg-ground: #e0c068;
  --bg-ice: #98d8d8;
  --bg-normal: #a8a878;
  --bg-poison: #a040a0;
  --bg-psychic: #f85888;
  --bg-rock: #b8a038;
  --bg-steel: #b8b8d0;
  --bg-unknown: #68a090;

  --bg-shadow: #493963;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
